[submodule "vim.symlink/bundle/command-t"]
	path = vim.symlink/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim.symlink/bundle/surround.vim"]
	path = vim.symlink/bundle/surround.vim
	url = https://github.com/tpope/vim-surround.git
